-- إضافة الأعمدة المفقودة لبيانات الامتحان
ALTER TABLE student_affairs.students 
ADD COLUMN IF NOT EXISTS exam_attempt VARCHAR(20),
ADD COLUMN IF NOT EXISTS exam_number VARCHAR(50),
ADD COLUMN IF NOT EXISTS exam_password VARCHAR(50),
ADD COLUMN IF NOT EXISTS branch VARCHAR(100);

-- التحقق من الأعمدة
SELECT column_name, data_type 
FROM information_schema.columns 
WHERE table_schema = 'student_affairs' 
AND table_name = 'students' 
AND column_name IN ('exam_attempt', 'exam_number', 'exam_password', 'branch');